body {
    margin: 0;
    padding: 0;
    background-color: lightgray;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    height: 512px;
    width: 512px;
    padding: 0;
}

.box {
    display: flex;
    flex: 1 0 32px;
    flex-wrap: wrap;
    margin: 0px;
    transition-duration: 0.25s;
}

.colored {
    background-color: black;
}