body, html {
    background-color: lightgray;
    height: 100vh;
}

header {
    text-align: center;
    padding: 30px 0;
}

#main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    margin: 0 auto;
    gap: 100px;
    max-width: 1000px;
}

#container {
    width: 500px;
    height: 500px;
    margin: 0px;
    padding: 0px;
    display: grid;
    background-color: white;
}

#settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

#settings > * {
    margin-top: 24px;
}

#palette {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2px;
}

#sizeslider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
}

#gridsize {
    padding: 0;
    margin: 0;
}

.pixel {
    transition-duration: 0.25s;
}

.colors {
    width: 20px;
    height: 20px;
    border: 0;
}